.video {
  padding: 30px;

  &.preview {

    h2 {
      cursor: pointer;
    }

    video {
      max-height: 300px;
      width: 100%;
    }

    @media (min-width: 1200px) { 
      max-width: 640px;
     }

    .rating {
      justify-content: flex-start;
    }
  }

  h2 {
    font-size: 1.0em;
  }

  p {
    font-size: 0.8em;
  }

  video {
    max-width: 100%;
    margin-bottom: 10px;

    -webkit-box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.15);
    box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.15);
  }

  .rating {
    display: flex;
    justify-content: center;

    .star {
      &:before {
        content: "\f006";
        font-family: FontAwesome;
        font-size: 1.4em;
        color: yellow;
      }

      &.active {
        &:before {
          content: "\f005"
        }
      }
    }

  }
  
}